body{
    margin: 0;
    overflow: hidden;
    font-family: Arial;
}


#legend-background {
    background: #000;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 14px;
    z-index: 8;
    /*border:1px dashed #fff;*/
    padding:10px 15px 5px 10px;
    border-radius:10px;

}

#legend-background h4 {
    color:#fff;
    font-size:25px;
    display:none;
}

#legend {
    list-style: none;
    padding:0px;
    margin:0px;
}

#legend li {
    color:#fff;
    margin-bottom:5px;
    padding:3px 0;
}


.color-box {
    display: inline-flex;
    border: 1px solid #fff;
    width: 14px;
    height: 14px;
    margin-right:10px;
    padding:5px;
    border-radius:3px;
}

.legend-block{
    display:inline;
}

#details { 
    z-index:8;
    color:#fff;
    position: absolute;
    top:20px;
    left:20px;
     }
